{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
    
{% block title %}Samples{% endblock %}

{% block header %}
    <h1>Samples</h1>
{% endblock %}

{% block content %}
    <div class="mx-2 my-2" style="width: 18rem;">
        <form method="get">
            {% crispy filter.form %}
        </form>
    </div>
    <a href="{% url 'add_sample' %}" class="btn btn-primary mx-2 my-2">Add Sample</a>
    <div class="mx-2 my-2">
        <div class="table-responsive">
            {% render_table table%}
        </div>
    </div>
{% endblock %}
