{% load bootstrap5 %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FAMNIT ELN{% endblock %}</title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap_icons/css/bootstrap_icons.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand ms-3" href="/">FAMNIT ELN</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users' %}">{% bs_icon 'person-add' %} Add User</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <!-- Display if user is logged in -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">{% bs_icon 'person' %} {{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">{% bs_icon 'box-arrow-right' %} Logout</a>
                        </li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li class="nav-item vl">
                            <a class="nav-link text-decoration-underline" href="/admin"><small>Admin Site</small></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    
    {% if user.is_authenticated %}
    <!-- Main Content Area -->
    <div class="d-flex flex-grow-1">
        <!-- Sidebar -->
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-gray" style="width: 280px;">
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a href="/samples" class="nav-link text-white">
                        {% bs_icon 'trash2' %} Samples
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        Ex1
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        Ex2
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        Ex3
                    </a>
                </li>
            </ul>
            <hr>
        </div>
        <!-- Main Content -->
        <main class="flex-grow-1">
            <div class="header-container container-fluid text-center">
                <header>
                    {% block header %}
                    {% endblock %}
                </header>
            </div>
            <!-- Display Messages -->
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                       <div class="alert alert-danger">
                            <p>{{ message }}</p>
                       </div>
                    {% else %}
                        <div class="alert alert-{{ message.tags }}">
                            <p>{{ message }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}


            {% block content %}
            {% endblock %}
            
            {{ filter.form.media }}
            {{ form.media }}
        </main>
        
    </div>
    {% else %} 
    <div class="header-container container-fluid text-center">
        <header>
            <h1 class="display-4">Welcome to FAMNIT Electronic Laboratory Notebook</h1>
        </header>
    </div>
    <div class="body-container">
        <h2>Please Log In to continue</h2>
    </div>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <form method="post">
                    <p>If you don't have the account yet contact app admin.</p>
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% bootstrap_javascript %}
</body>
</html>
