{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}FELN{% endblock %}

{% block header %}
    <h1 class="display-4">Welcome to FAMNIT Electronic Laboratory Notebook</h1>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="container-fluid my-4">
        <div class="row">
            <!-- Left Column: Cards for Samples, Projects, Species, Providers, Users -->
            <div class="col-sm-12 col-md-6 col-lg-2">
                <!-- Samples Card -->
                <div class="card mb-3">
                    <div class="card-body">
                        <a href="{% url 'samples' %}" class="card-title h5 text-dark">Samples</a>
                        <div class="card-text mt-2 p-1 rounded bg-light shadow-sm" style="font-size: 1.1rem; border: 1px solid #ddd;">
                            <div class="row">
                                <div class="col-4 d-flex justify-content-start"><strong>Total:</strong></div>
                                <div class="col-8 text-center"><span>{{ total_samples }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Projects Card -->
                <div class="card mb-3">
                    <div class="card-body">
                        <a href="{% url 'projects' %}" class="card-title h5 text-dark">Projects</a>
                        <div class="card-text mt-2 p-1 rounded bg-light shadow-sm" style="font-size: 1.1rem; border: 1px solid #ddd;">
                            <div class="row">
                                <div class="col-4 d-flex justify-content-start"><strong>Total:</strong></div>
                                <div class="col-8 text-center"><span>{{ total_projects }}</span></div>
                            </div>
                            <div class="row">
                                <div class="col-4 d-flex justify-content-start"><strong>Active:</strong></div>
                                <div class="col-8 text-center"><span>{{ projects_data.0 }}</span></div>
                            </div>
                            <div class="row">
                                <div class="col-4 d-flex justify-content-start"><strong>Inactive:</strong></div>
                                <div class="col-8 text-center"><span>{{ projects_data.1 }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Species Card -->
                <div class="card mb-3">
                    <div class="card-body">
                        <a href="{% url 'species' %}" class="card-title h5 text-dark">Species</a>
                        <div class="card-text mt-2 p-1 rounded bg-light shadow-sm" style="font-size: 1.1rem; border: 1px solid #ddd;">
                            <div class="row">
                                <div class="col-4 d-flex justify-content-start"><strong>Total:</strong></div>
                                <div class="col-8 text-center"><span>{{ total_species }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sample Providers Card -->
                <div class="card mb-3">
                    <div class="card-body">
                        <a href="{% url 'sample_providers' %}" class="card-title h5 text-dark">Sample Providers</a>
                        <div class="card-text mt-2 p-1 rounded bg-light shadow-sm" style="font-size: 1.1rem; border: 1px solid #ddd;">
                            <div class="row">
                                <div class="col-4 d-flex justify-content-start"><strong>Total:</strong></div>
                                <div class="col-8 text-center"><span>{{ total_providers }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Users Card -->
                 {% if user.is_staff %}
                <div class="card mb-3">
                    <div class="card-body">
                        <a href="{% url 'users' %}" class="card-title h5 text-dark">Users</a>
                        <div class="card-text mt-2 p-1 rounded bg-light shadow-sm" style="font-size: 1.1rem; border: 1px solid #ddd;">
                            <div class="row">
                                <div class="col-4 d-flex justify-content-start"><strong>Total:</strong></div>
                                <div class="col-8 text-center"><span>{{ total_users }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <!-- Right Column: Charts -->
            <div class="col-auto d-flex flex-grow-1">
                <!-- Bar Chart (Take as much space as possible) -->
                <div class="chart-container" style="position: relative; width: 100%; height: 100%; max-height: 600px;">
                    <canvas id="providersBarChart" 
                            data-labels="{{ providers_labels }}" 
                            data-data="{{ providers_data }}" 
                            data-title="Samples by Provider" 
                            style="width: 100%; height: 100%;"></canvas>
                </div>
            </div>

            <!-- Pie Charts: Stacked One Above the Other -->
            <div class="col-auto">
                <!-- Species Pie Chart -->
                <div class="chart-container d-flex flex-grow-1" style="position: relative; margin-bottom: 20px; max-height: 300px;">
                    <canvas id="speciesPieChart" 
                            data-labels="{{ species_labels }}" 
                            data-data="{{ species_data }}" 
                            data-title="Samples by Species" 
                            style="width: 100%; height: 100%;"></canvas>
                </div>
            
                <!-- Projects Pie Chart -->
                <div class="chart-container d-flex flex-grow-1" style="position: relative; max-height: 300px;">
                    <canvas id="projectsPieChart" 
                            data-labels="{{ projects_labels }}" 
                            data-data="{{ projects_data }}" 
                            data-title="Active Projects" 
                            style="width: 100%; height: 100%;"></canvas>
                </div>
            </div>
            
        </div>
    </div>

    <script src="{% static 'js/chart.js' %}"></script>
    {% endif %}
{% endblock %}
