{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}FELN{% endblock %}
{% block header %}
    <h1 class="display-4">Welcome to FAMNIT Electronic Laboratory Notebook</h1>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="container my-4">
        <div class="row g-4 justify-content-between">
            <!-- Card 1 -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 shadow-sm" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
    
            <!-- Card 2 -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 shadow-sm" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
    
            <!-- Card 3 -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 shadow-sm" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/samples" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
    
            <!-- Additional cards can go here -->

        {% else %}
        <div class="body-container">
            <h2>Please Log In to continue</h2>
        </div>
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <form method="post">
                        <p>If you don't have the account yet contact app admin.</p>
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    
    
{% endblock %}
