{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
    
{% block title %}{{ name }}{% endblock %}

{% block header %}
    <h1>{{ name }}</h1>
{% endblock %}

{% block content %}
    <div class="mx-2 my-2">
        <!-- Move the buttons to the top of the table -->
        <div class="mb-3">
            <a href="{% url 'add_thread' id %}" class="btn btn-primary">Add Thread</a>
            <button type="submit" class="btn btn-danger" id="delete-threads-button" form="delete-threads-form">Delete Threads</button>
        </div>

        <!-- Form for deletion with POST method -->
        <form method="post" action="{% url 'delete_checked' %}" id="delete-threads-form">
            {% csrf_token %}
            <div class="table-responsive">
                {% render_table table %}
            </div>
        </form>
    </div>
{% endblock %}
