{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}{{ title }} - Posts{% endblock %}

{% block header %}

<link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}">
<div class="container-fluid text-center">
    <h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb d-inline-flex justify-content-center">
                <li class="breadcrumb-item ">
                    <a href="{% url 'forum' %}" class="text-light">
                        Forum
                    </a>
                </li>
                <li class="breadcrumb-item ">
                    <a href="{% url 'threads' category_id %}" class="text-light">
                        {{ category_name }}
                    </a>
                </li>
                <li class="breadcrumb-item active text-light" aria-current="page">{{ title }}</li>
            </ol>
        </nav>
    </h1>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid my-2">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-8">
        <!-- Display all posts in the thread -->
        <ul class="list-group">
            {% for post in posts %}
            <li class="list-group-item {% if forloop.first %}list-group-item-secondary{% endif %}">
                <strong>{{ post.author }}:</strong>
                <p>{{ post.content }}</p>
                <small class="text-muted">Posted on {{ post.created_at|date:"d.m.Y H:i" }}</small>
            </li>
            {% empty %}
            <li class="list-group-item text-center text-muted">
                No posts yet. Be the first to reply!
            </li>
            {% endfor %}
        </ul>

        <!-- Reply form -->
        {% if form %}
            <div class="row my-3">
                <h3>Reply to Thread</h3>
                <form method="post">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
